.wp-block-pulsar-link-card {
	&:hover,
	&:focus-visible {
		outline: none;

		.wp-block-pulsar-link-card__content {
			background-color: unset;
			height: unset;
		}

		.wp-block-pulsar-link-card__description {
			flex: 0 0 auto;
		}
	}

	&__content {
		padding-bottom: var(--wp--preset--spacing--lg);
		transition: unset;
	}
}
