.wp-block-pulsar-embla-carousel-progress {
	--carousel-progress-background: var(--wp--custom--color--surface--inactive);
	--carousel-progress-bar: var(--wp--custom--color--secondary--200);
	--carousel-progress-border-radius: var(--wp--custom--border-radius--xl);
	--carousel-progress-height: 10px;
	background-color: var(--carousel-progress-background);
	border-radius: var(--carousel-progress-border-radius);
	height: var(--carousel-progress-height);
	overflow: hidden;
	position: relative;
	width: 100%;

	.embla__progress__bar {
		background-color: var(--carousel-progress-bar);
		border-radius: var(--carousel-progress-border-radius);
		bottom: 0;
		left: -100%;
		position: absolute;
		top: 0;
		transition: transform 200ms ease-out;
		width: 100%;
	}
}
