.wp-block-pulsar-modal {
	&.is-selected {
		display: block;

		.wp-block-pulsar-modal__overlay {
			display: none;
		}
	}

	&.is-open {
		z-index: 10;

		.wp-block-pulsar-modal__overlay {
			display: flex;
		}
	}

	&__container {
		max-height: calc(100% - 200px);
	}

	.components-resizable-box__container.has-show-handle .components-resizable-box__handle {
		display: none !important;
	}

	&__editor-id {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2em;
	}

	.components-placeholder {
		text-align: center;
	}
}

.pulsar-modal-block {
	&__card {
		.components-card-body {
			align-items: center;
			display: flex;
			gap: 12px;
			justify-content: space-between;
		}

		.components-heading {
			margin: 0;
		}
	}
}

.pulsar-modal-block__add-button {
	margin: 16px;
}
