.wp-block-pulsar-modal {
	display: block;

	.wp-block-pulsar-modal__overlay {
		display: none;
	}

	&.is-open {
		z-index: 35;

		.wp-block-pulsar-modal__overlay {
			display: flex;
		}
	}

	&__container {
		max-height: calc(100% - 200px);
	}

	.components-resizable-box__container.has-show-handle .components-resizable-box__handle {
		display: none !important;
	}

	&__editor-id {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 2em;
	}

	.components-placeholder {
		align-items: center;
		border: 1px dashed;
		box-shadow: none;
		justify-content: center;
		line-height: 1;
		text-align: center;

		svg {
			margin: 0;
		}
	}

	.wp-block-post & {
		position: absolute;
		right: 0;
		top: 0;

		.components-placeholder {
			opacity: 0.8;
			padding: 8px;

			.components-placeholder__fieldset {
				display: none;
			}
		}
	}
}

.pulsar-modal-block {
	&__card {
		.components-card-body {
			align-items: center;
			display: flex;
			gap: 12px;
			justify-content: space-between;
		}

		.components-heading {
			margin: 0;
		}
	}
}

.pulsar-modal-block__add-button {
	margin: 16px;
}
