.wp-block-pulsar-modal {
	--modal-overlay-opacity: 1;
	--modal-container-padding: var(--wp--preset--spacing--xl, 32px);
	--modal-container-background-color: var(--wp--custom--color--surface--default, #fff);
	--modal-container-box-shadow: var(--wp--custom--box-shadow--sm, 1px 1px 12px rgba(0, 0, 0, 0.1));
	--modal-close-button-size: 48px;
	--modal-close-icon-size: 14px;
	--modal-close-icon-color: currentcolor;
	--modal-container-max-width: var(--wp--style--global--content-size, 600px);
	display: none;
	margin: 0;

	&.is-open {
		display: block;
	}

	&__overlay {
		align-items: center;
		display: flex;
		inset: 0;
		justify-content: center;
		max-width: unset;
		position: fixed;
		z-index: 10000;

		&::before {
			background-color: var(--modal-overlay-background-color, #000);
			content: "";
			inset: 0;
			opacity: var(--modal-overlay-opacity);
			position: absolute;
		}
	}

	&__container {
		background-color: var(--modal-container-background-color);
		box-shadow: var(--modal-container-box-shadow);
		display: flex;
		flex-direction: column;
		max-height: calc(100dvh - var(--wp--custom--spacing--edge));
		max-width: var(--modal-container-width, var(--modal-container-max-width));
		overflow-y: auto;
		padding: var(--modal-container-padding);
		position: relative;
		width: calc(100% - ( var(--wp--style--root--padding-left, 32px) + var(--wp--style--root--padding-right, 32px) ));
	}

	&__content {
		> :first-child {
			margin-top: 0;
		}
	}

	&__close {
		appearance: none;
		background-color: transparent;
		border: none;
		box-shadow: none;
		cursor: pointer;
		height: var(--modal-close-button-size);
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: var(--modal-close-button-size);
		z-index: 10001;
	}

	&__close-icon {
		background-color: var(--modal-close-icon-color);
		inset: 0;
		mask-image: url("../../assets/close.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: var(--modal-close-icon-size);
		position: absolute;
	}
}

[data-trigger-modal] {
	cursor: pointer;
}

.pulsar-modal-portal {
	position: relative;
}

.modal-is-open {
	overflow: hidden;
}
