.wp-block-pulsar-embla-carousel-dots {
	--carousel-dot-size: 12px;
	--carousel-dot-gap: var(--wp--preset--spacing--xs, 8px);
	--carousel-dot-color: var(--wp--custom--color--surface--invert, currentcolor);
	--carousel-dot-color-active: var(--wp--custom--color--surface--primary, #7378cc);
	--carousel-dot-border-radius: 50%;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: var(--carousel-dot-gap);
	justify-content: center;
	margin-top: var(--carousel-dot-gap);

	.embla__dot {
		align-items: center;
		appearance: none;
		background-color: transparent;
		background-color: var(--carousel-dot-color);
		border: 0;
		border-radius: var(--carousel-dot-border-radius);
		cursor: pointer;
		display: inline-flex;
		display: flex;
		height: var(--carousel-dot-size);
		justify-content: center;
		margin: 0;
		padding: 0;
		text-decoration: none;
		touch-action: manipulation;
		width: var(--carousel-dot-size);
	}

	.embla__dot--selected {
		background-color: var(--carousel-dot-color-active);
	}
}
