.wp-block-pulsar-icon-text {
	--pb--icon-text--gap: var(--wp--preset--spacing--lg);
	--pb--icon-text--background-color: transparent;
	--pb--icon-text--padding: 0;
	--pb--icon-text--border-radius: 0;
	--pb--icon-text--icon--color: var(--wp--preset--color--brand-primary);
	--pb--icon-text--icon--background-color: var(--wp--preset--color--tint-primary);
	--pb--icon-text--icon--size: 48px;
	--pb--icon-text--icon--padding: var(--wp--preset--spacing--md);
	--pb--icon-text--icon--border-radius: var(--wp--custom--border--radius--full);
	--pb--icon-text--content--background-color: transparent;
	--pb--icon-text--content--color: var(--wp--preset--color--contrast);

	background-color: var(--pb--icon-text--background-color);
	border: none;
	border-radius: var(--pb--icon-text--border-radius);
	box-shadow: none;
	display: flex;
	flex: 1 1 0%;
	gap: var(--pb--icon-text--gap);
	isolation: isolate;
	padding: var(--pb--icon-text--padding);
	position: relative;
	text-decoration: none;

	&:where(.is-vertical) {
		flex-direction: column;
	}

	&:where(.is-horizontal) {
		flex-direction: row;
	}

	&:where(.is-content-align-start) {
		align-items: flex-start;
	}

	&:where(.is-content-align-center) {
		align-items: center;
	}

	&:where(.is-content-align-end) {
		align-items: flex-end;
	}

	&:where(a, button) {
		cursor: pointer;

		&::before {
			background-color: inherit;
			border-radius: inherit;
			content: "";
			inset: 0;
			position: absolute;
			transition: inherit;
			z-index: -1;
		}
	}

	&__icon-container {
		align-items: center;
		display: flex;
		isolation: isolate;
		position: relative;
		z-index: 1;
	}

	&__icon {
		background-color: var(--pb--icon-text--icon--background-color);
		border-radius: var(--pb--icon-text--icon--border-radius);
		color: var(--pb--icon-text--icon--color);
		height: var(--pb--icon-text--icon--size);
		padding: var(--pb--icon-text--icon--padding);
		width: var(--pb--icon-text--icon--size);

		:where(.has-icon-background-color) & {
			border-radius: var(--pb--icon-text--icon--border-radius);
			padding: var(--pb--icon-text--icon--padding);
		}

		img {
			display: inline-block;
			height: auto;
		}

		svg {
			fill: currentcolor;
			height: 100%;
			width: 100%;
		}
	}

	&__content {
		background-color: var(--pb--icon-text--content--background-color);
		color: var(--pb--icon-text--content--color);
		width: 100%;

		:where(.is-horizontal) & {
			text-align: left;
		}

		:first-child {
			margin-top: 0;
		}

		:where(h1, h2, h3, h4, h5, h6) {
			color: inherit;
		}
	}
}
