@use "~lightgallery/scss/lg-variables" as * with (
	$lg-path-fonts: "../../assets/fonts",
	$lg-path-images: "../../assets/img"
);
@use "~lightgallery/scss/lg-mixins" as *;
@use "~lightgallery/scss/lightgallery-core" as *;

$grid-areas: (
	1: "one",
	2: "two",
	3: "three",
	4: "four",
	5: "five",
	6: "six",
	7: "seven",
	8: "eight"
);

.wp-block-pulsar-media-viewer {
	position: relative;

	&__view-all {
		background-color: transparent;
		background-color: var(--wp--custom--color--surface--default, #fff);
		border: 0;
		bottom: var(--wp--preset--spacing--md, 24px);
		box-shadow: none;
		color: var(--wp--custom--color--text--primary, #000);
		cursor: pointer;
		padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--md);
		position: absolute;
		right: var(--wp--preset--spacing--md, 24px);
	}

	&__items {
		aspect-ratio: 2 / 1;
		display: grid;
		gap: inherit;

		> * {
			@each $area-number, $area-name in $grid-areas {
				&:where(:nth-child(#{$area-number} of .wp-block-image)) {
					grid-area: #{$area-name};
				}
			}
		}

		:where(.has-items-1) & {
			grid-template-areas: "one";

			> * {
				&:where(:not(:first-child)) {
					display: none;
				}
			}
		}

		:where(.has-items-2) & {
			grid-template-areas: "one two";
			grid-template-columns: repeat(2, 1fr);

			> * {
				&:where(:not(:nth-child(-n+2 of .wp-block-image))) {
					display: none;
				}
			}
		}

		:where(.has-items-3) & {
			grid-template-areas:
				"one two"
				"one three";
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;

			> * {
				&:where(:not(:nth-child(-n+3 of .wp-block-image))) {
					display: none;
				}
			}
		}

		:where(.has-items-4) & {
			grid-template-areas:
				"one two"
				"one two"
				"one four"
				"three four"
				"three four";
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 1fr);

			> * {
				&:where(:not(:nth-child(-n+4 of .wp-block-image))) {
					display: none;
				}
			}
		}

		:where(.has-items-5) & {
			grid-template-areas:
				"one two three"
				"one two five"
				"four two five";
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);

			> * {
				&:where(:not(:nth-child(-n+5 of .wp-block-image))) {
					display: none;
				}
			}

			.wp-block-pulsar-media-viewer__item {
				&:nth-child(1),
				&:nth-child(5) {
					aspect-ratio: 1 / 1;
				}
			}
		}

		:where(.has-items-6) & {
			grid-template-areas:
				"one one two two three three"
				"one one two two three three"
				"one one five five three three"
				"one one five five three three"
				"four four five five six six"
				"four four five five six six";
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(6, 1fr);

			> * {
				&:where(:not(:nth-child(-n+6 of .wp-block-image))) {
					display: none;
				}
			}
		}

		:where(.has-items-7) & {
			grid-template-areas:
				"one one one one one one two two two two two two three three three three three three four four four four four four"
				"five five five five five five five five six six six six six six six six seven seven seven seven seven seven seven seven";
			grid-template-columns: repeat(24, 1fr);
			grid-template-rows: repeat(2, 1fr);

			> * {
				&:where(:not(:nth-child(-n+7 of .wp-block-image))) {
					display: none;
				}
			}
		}

		:where(.has-items-8) & {
			grid-template-areas:
				"one two three four"
				"five six seven eight";
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 1fr);

			> * {
				&:where(:not(:nth-child(-n+8 of .wp-block-image))) {
					display: none;
				}
			}
		}
	}

	.wp-block-image {
		&:where([data-src]) {
			cursor: pointer;

			&::after {
				background-color: var(--wp--custom--color--surface--default, #fff);
				content: "";
				height: 24px;
				mask-image: url("../../assets/svg/full-screen.svg");
				mask-size: contain;
				opacity: 0;
				position: absolute;
				right: var(--wp--preset--spacing--md, 24px);
				top: var(--wp--preset--spacing--md, 24px);
				transition: opacity var(--wp--custom--transition-duration--normal);
				width: 24px;
			}

			&:hover::after {
				opacity: 1;
			}

			figcaption {
				display: none;
			}
		}

		> div {
			height: 100%;
			object-position: inherit;
			width: 100%;
		}

		img {
			height: 100%;
			object-fit: cover;
			object-position: inherit;
			width: 100%;
		}
	}
}

// stylelint-disable max-nesting-depth -- Due to the nature of the lightbox, this is unavoidable
.wp-block-pulsar-media-viewer__lightbox {
	// stylelint-disable custom-property-pattern -- backwards compatibility
	// Overlay
	--pb--media-viewer--lightbox--overlay--opacity: var(--lightbox-overlay-opacity, 0.95);
	--pb--media-viewer--lightbox--overlay--color: var(--lightbox-overlay-color, var(--wp--preset--color--contrast, var(--wp--custom--color--surface--invert, #000)));

	// Icons
	--pb--media-viewer--lightbox--icon--color: var(--lightbox-icon-color, var(--wp--preset--color--base, var(--wp--custom--color--text--invert, #fff)));
	--pb--media-viewer--lightbox--icon--hover-color: var(--lightbox-icon-hover-color, var(--wp--preset--color--base-accent, var(--wp--custom--color--text--accent, #007cba)));
	--pb--media-viewer--lightbox--icon--size: var(--lightbox-icon-size, 24px);

	// Prev/Next
	--pb--media-viewer--lightbox--navigation--background-color: var(--lightbox-navigation-background-color, var(--wp--preset--color--contrast, var(--wp--custom--color--surface--invert, #000)));
	--pb--media-viewer--lightbox--navigation--hover-background-color: var(--pb--media-viewer--lightbox--navigation--background-color);
	--pb--media-viewer--lightbox--navigation--icon--color: var(--lightbox-navigation-icon-color, var(--wp--preset--color--base, var(--wp--custom--color--text--invert, #fff)));
	--pb--media-viewer--lightbox--navigation--icon--hover-color: var(--lightbox-navigation-icon-hover-color, var(--wp--preset--color--base-accent, var(--wp--custom--color--text--secondary, #007cba)));
	--pb--media-viewer--lightbox--navigation--size: var(--lightbox-navigation-size, 48px);
	--pb--media-viewer--lightbox--navigation--icon--size: var(--lightbox-navigation-icon-size, 24px);

	// Toolbar
	--pb--media-viewer--lightbox--toolbar--background-color: var(--lightbox-toolbar-background-color, transparent);
	--pb--media-viewer--lightbox--toolbar--button-size: var(--lightbox-toolbar-button-size, 48px);
	--pb--media-viewer--lightbox--toolbar--icon--color: var(--lightbox-toolbar-icon-color, var(--wp--preset--color--base, var(--wp--custom--color--text--invert, #fff)));
	--pb--media-viewer--lightbox--toolbar--icon--hover-color: var(--lightbox-toolbar-icon-hover-color, var(--wp--preset--color--base-accent, var(--wp--custom--color--text--secondary, #007cba)));
	--pb--media-viewer--lightbox--toolbar--icon--size: var(--lightbox-toolbar-icon-size, 16px);

	// Captions
	--pb--media-viewer--lightbox--caption--color: var(--lightbox-caption-color, var(--wp--preset--color--base, var(--wp--custom--color--text--invert, #fff)));
	--pb--media-viewer--lightbox--caption--padding: var(--lightbox-caption-padding, var(--wp--preset--spacing--md, 24px));
	--pb--media-viewer--lightbox--caption--font-size: var(--lightbox-caption-font-size, var(--wp--preset--font-size--md, 14px));
	--pb--media-viewer--lightbox--caption--width: var(--lightbox-caption-width, var(--wp--style--global--content-size));

	// Thumbnails
	--pb--media-viewer--lightbox--thumb--background-color: var(--lightbox-thumb-background-color, transparent);
	--pb--media-viewer--lightbox--thumb--border--color: var(--lightbox-thumb-border-color, var(--wp--custom--color--border-invert, var(--wp--custom--color--border--invert, #fff)));
	--pb--media-viewer--lightbox--thumb--border--hover-color: var(--lightbox-thumb-border-hover-color, var(--wp--preset--color--base-accent, var(--wp--custom--color--border--primary, #007cba)));
	--pb--media-viewer--lightbox--thumb--border--width: var(--lightbox-thumb-border-width, 2px);
	--pb--media-viewer--lightbox--thumb--border--radius: var(--lightbox-thumb-border-radius, 0);

	// Counter
	--pb--media-viewer--lightbox--counter--color: var(--lightbox-counter-color, var(--wp--preset--color--base, var(--wp--custom--color--text--invert, #fff)));
	--pb--media-viewer--lightbox--counter--font-size: var(--lightbox-counter-font-size, var(--wp--preset--font-size--lg, 20px));
	// stylelint-enable custom-property-pattern

	.lg-backdrop {
		background-color: var(--pb--media-viewer--lightbox--overlay--color);

		&.in {
			opacity: var(--pb--media-viewer--lightbox--overlay--opacity);
		}
	}

	.lg-group::after {
		content: unset;
	}

	.lg-next,
	.lg-prev {
		background-color: var(--pb--media-viewer--lightbox--navigation--background-color);
		border: none;
		cursor: pointer;
		display: block;
		height: var(--pb--media-viewer--lightbox--navigation--size);
		outline: none;
		padding: 0;
		position: absolute;
		top: 50%;
		width: var(--pb--media-viewer--lightbox--navigation--size);
		z-index: 1084;

		&.disabled {
			cursor: default;
			opacity: 0;
		}

		.lg-single-item & {
			display: none;
		}

		&::before {
			background-color: var(--pb--media-viewer--lightbox--navigation--icon--color);
			content: "";
			inset: 0;
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: var(--pb--media-viewer--lightbox--navigation--icon--size);
			position: absolute;
		}

		&:hover {
			background-color: var(--pb--media-viewer--lightbox--navigation--hover-background-color);

			&::before {
				background-color: var(--pb--media-viewer--lightbox--navigation--icon--hover-color);
			}
		}
	}

	.lg-prev {
		left: var(--wp--preset--spacing--lg, 32px);

		&::before {
			mask-image: url("../../assets/svg/arrow-left.svg");
		}
	}

	.lg-next {
		right: var(--wp--preset--spacing--lg, 32px);

		&::before {
			mask-image: url("../../assets/svg/arrow-right.svg");
		}
	}

	// Toolbar
	.lg-toolbar {
		height: var(--pb--media-viewer--lightbox--toolbar--button-size);
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1082;

		.lg-media-overlap & {
			background-image: var(--pb--media-viewer--lightbox--toolbar--background-color);
		}

		.lg-icon {
			background: none;
			border: none;
			box-shadow: none;
			cursor: pointer;
			float: right;
			height: var(--pb--media-viewer--lightbox--toolbar--button-size);
			text-decoration: none;
			width: var(--pb--media-viewer--lightbox--toolbar--button-size);

			&::before {
				background-color: var(--pb--media-viewer--lightbox--toolbar--icon--color);
				content: "";
				inset: 0;
				mask-position: center;
				mask-repeat: no-repeat;
				mask-size: var(--pb--media-viewer--lightbox--toolbar--icon--size);
				position: absolute;
			}

			&:hover {
				&::before {
					background-color: var(--pb--media-viewer--lightbox--toolbar--icon--hover-color);
				}
			}
		}

		.lg-close {
			position: relative;

			&::before {
				mask-image: url("../../assets/svg/close.svg");
			}
		}
	}

	// Caption
	.lg-sub-html {
		-webkit-box-orient: vertical;
		color: var(--pb--media-viewer--lightbox--caption--color);
		display: -webkit-box;
		font-size: var(--pb--media-viewer--lightbox--caption--font-size);
		-webkit-line-clamp: 2;
		line-clamp: 2;
		margin-block: var(--pb--media-viewer--lightbox--caption--padding);
		margin-inline: auto;
		max-width: var(--pb--media-viewer--lightbox--caption--width, 800px);
		opacity: 0;
		overflow: hidden;
		text-align: center;
		text-overflow: ellipsis;
		z-index: 1080;
	}

	// image counter
	.lg-counter {
		align-items: center;
		color: var(--pb--media-viewer--lightbox--counter--color);
		display: inline-flex;
		font-size: var(--pb--media-viewer--lightbox--counter--font-size);
		height: 100%;
		padding-left: var(--wp--preset--spacing--lg, 32px);
		vertical-align: middle;
	}

	.lg-closing {
		.lg-toolbar,
		.lg-prev,
		.lg-next,
		.lg-sub-html {
			opacity: 0;

			@include transitionCustom(
				transform 0.08 cubic-bezier(0, 0, 0.25, 1) 0s,
				opacity 0.08 cubic-bezier(0, 0, 0.25, 1) 0s,
				color 0.08 linear
			);
		}
	}

	// Starting effect
	body:not(.lg-from-hash) {
		.lg-outer {
			&.lg-start-zoom {
				.lg-item:not(.lg-zoomable) {
					.lg-img-wrap,
					.lg-video-cont,
					.lg-media-cont {
						opacity: 0;
						will-change: transform, opacity;

						@include transform(scale3d(0.5, 0.5, 0.5));
						@include transitionCustom(
							transform 250ms cubic-bezier(0, 0, 0.25, 1) 0s,
							opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important
						);
					}

					&.lg-complete {
						.lg-img-wrap,
						.lg-video-cont,
						.lg-media-cont {
							opacity: 1;

							@include transform(scale3d(1, 1, 1));
						}
					}
				}
			}
		}
	}

	// Thumbnails
	.lg-outer {
		.lg-thumb-outer {
			background-color: var(--pb--media-viewer--lightbox--thumb--background-color);
			float: left;
			max-height: 350px;
			overflow: hidden;
			padding-block: 10px;
			width: 100%;

			&.lg-grab {
				.lg-thumb-item {
					cursor: grab;
				}
			}

			&.lg-grabbing {
				.lg-thumb-item {
					cursor: grab;
				}
			}

			&.lg-dragging {
				.lg-thumb {
					transition-duration: 0;
				}
			}

			&.lg-rebuilding-thumbnails {
				.lg-thumb {
					transition-duration: 0;
				}
			}

			&.lg-thumb-align-middle {
				text-align: center;
			}

			&.lg-thumb-align-left {
				text-align: left;
			}

			&.lg-thumb-align-right {
				text-align: right;
			}
		}

		&.lg-single-item {
			.lg-thumb-outer {
				display: none;
			}
		}

		.lg-thumb {
			display: inline-block;
			height: 100%;
			padding: 5px 0;
			vertical-align: middle;
		}

		.lg-thumb-item {
			border: var(--pb--media-viewer--lightbox--thumb--border--width) solid var(--pb--media-viewer--lightbox--thumb--border--color);
			border-radius: var(--pb--media-viewer--lightbox--thumb--border--radius);
			cursor: pointer;
			float: left;
			height: 100%;
			overflow: hidden;
			will-change: border-color;

			@include transition(border-color 0.25s ease);

			&.active,
			&:hover {
				border-color: var(--pb--media-viewer--lightbox--thumb--border--hover-color);
			}

			img {
				display: block;
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}

		&.lg-animate-thumb {
			.lg-thumb {
				@include transition-timing-function(
					cubic-bezier(0.215, 0.61, 0.355, 1)
				);
			}
		}
	}
}
// stylelint-enable max-nesting-depth
