.wp-block-pulsar-tabs {
	$block: &;

	--pb--tabs--gap: var(--wp--preset--spacing--xl);
	--pb--tabs--tab--color: var(--wp--preset--color--base-accent, var(--wp--custom--color--text--inactive));
	--pb--tabs--tab--active--color: var(--wp--preset--color--contrast, var(--wp--custom--color--text--primary));
	--pb--tabs--tab--active--border-color: var(--wp--preset--color--brand, currentcolor);
	--pb--tabs--tab--padding-bottom: var(--wp--preset--spacing--xs);

	display: grid;
	gap: var(--pb--tabs--gap);

	&:where(.is-vertical) {
		grid-template-columns: 1fr 4fr;
	}

	&__list {
		display: flex;
		gap: inherit;

		:where(.is-vertical) & {
			flex-direction: column;
		}
	}

	&__tab {
		background-color: transparent;
		border: 0;
		border-bottom: 2px solid transparent;
		box-shadow: none;
		color: var(--pb--tabs--tab--color);
		cursor: pointer;
		display: inline-block;
		line-height: 1;
		margin: 0;
		outline: none;
		overflow: hidden;
		padding: unset;
		padding-bottom: var(--pb--tabs--tab--padding-bottom);
		position: relative;
		text-align: left;
		transition: all var(--wp--custom--transition-duration--normal, 300ms);
		white-space: nowrap;
		z-index: 2;

		&:hover {
			border-color: var(--pb--tabs--tab--active--border-color);
			color: var(--pb--tabs--tab--active--color);
		}

		&:focus {
			border-color: var(--pb--tabs--tab--active--border-color);
			color: var(--pb--tabs--tab--active--color);
			outline: none;
		}

		&:where([aria-selected="true"]) {
			border-color: var(--pb--tabs--tab--active--border-color);
			color: var(--pb--tabs--tab--active--color);
		}
	}

	&__panel {
		width: 100%;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	&:where([data-collapses="true"]) {

		#{$block}__select {
			display: block;
		}

		#{$block}__list {
			display: none;
		}

		&:where([data-collapses-on="sm"]) {
			@media (min-width: 640px) {
				#{$block}__select {
					display: none;
				}

				#{$block}__list {
					display: flex;
				}
			}
		}

		&:where([data-collapses-on="md"]) {
			@media (min-width: 768px) {
				#{$block}__select {
					display: none;
				}

				#{$block}__list {
					display: flex;
				}
			}
		}

		&:where([data-collapses-on="lg"]) {
			@media (min-width: 1024px) {
				#{$block}__select {
					display: none;
				}

				#{$block}__list {
					display: flex;
				}
			}
		}

		&:where([data-collapses-on="xl"]) {
			@media (min-width: 1280px) {
				#{$block}__select {
					display: none;
				}

				#{$block}__list {
					display: flex;
				}
			}
		}
	}
}
