.is-valid {
	$color: #4ab866;

	textarea {
		border-color: $color;
	}

	.components-base-control__help {
		align-items: center;
		background-color: lighten($color, 45%);
		border-left: 4px solid $color;
		display: flex;
		padding: 8px 12px;
	}
}

.is-invalid {
	$color: #cc1818;

	textarea {
		border-color: $color;
	}

	.components-base-control__help {
		align-items: center;
		background-color: lighten($color, 45%);
		border-left: 4px solid $color;
		display: flex;
		padding: 8px 12px;
	}
}
