.wp-block-pulsar-menu {
	// stylelint-disable custom-property-pattern -- backwards compatibility
	--pb--menu--z-index: var(--menu-z-index, 1000);
	--pb--menu--offset: var(--menu-offset, 0px); // stylelint-disable-line -- unit needed for calc

	/// Menu items (ul)
	--pb--menu--items--gap: var(--menu-items-gap, var(--wp--preset--spacing--lg, 24px));

	/// Menu container
	--pb--menu--container--background-color: var(--menu-container-background-color, var(--wp--custom--color--surface--default, #fff));

	// Menu item
	--pb--menu--item--color: var(--menu-item-color, var(--wp--custom--color--text--default, #000));
	--pb--menu--item--background-color: var(--menu-item-background-color, transparent);
	--pb--menu--item--hover-color: inherit;
	--pb--menu--item--hover-background-color: inherit;
	--pb--menu--item--padding: var(--menu-item-padding, var(--wp--preset--spacing--sm) var(--wp--custom--spacing--edge));
	--pb--menu--item--divider-color: var(--menu-item-divider-color, var(--wp--custom--color--border--default));
	--pb--menu--item--gap: var(--menu-item-gap, var(--wp--preset--spacing--xs, 8px));

	/// Menu link
	--pb--menu--link--color: inherit;
	--pb--menu--link--border-radius: 0;
	--pb--menu--link--hover-color: inherit;
	--pb--menu--link--hover-background-color: inherit;
	--pb--menu--link--padding: 0;

	/// Open button
	--pb--menu--open--background-color: var(--menu-open-background-color, transparent);
	--pb--menu--open--icon-color: var(--menu-open-icon-color, var(--wp--custom--color--text--default, #000));
	--pb--menu--open--size: var(--menu-open-size, 32px);
	--pb--menu--open--icon-size: var(--menu-open-icon-size, 24px);

	/// Close button
	--pb--menu--close--background-color: var(--menu-close-background-color, transparent);
	--pb--menu--close--icon-color: var(--menu-close-icon-color, var(--wp--custom--color--text--default, #000));
	--pb--menu--close--size: var(--menu-close-size, 32px);
	--pb--menu--close--icon-size: var(--menu-close-icon-size, 32px);

	/// Submenu
	--pb--menu--submenu--background-color: var(--menu-submenu-container-background-color, var(--wp--custom--color--surface--default, #fff));
	--pb--menu--submenu--transition-duration: var(--menu-submenu-container-transition-duration, var(--wp--custom--transition-duration--quick, 200ms));
	--pb--menu--submenu--min-width: var(--menu-submenu-container-min-width, 200px);
	--pb--menu--submenu--padding: var(--menu-submenu-container-padding, var(--wp--preset--spacing--md, 16px));
	--pb--menu--submenu--border-radius: 0;

	/// Submenu toggle
	--pb--menu--submenu-toggle--size: var(--menu-submenu-toggle-size, 18px);
	--pb--menu--submenu-toggle--background-color: var(--menu-submenu-toggle-background-color, transparent);
	--pb--menu--submenu-toggle--icon-size: var(--menu-submenu-icon-size, 8px);
	--pb--menu--submenu-toggle--padding: var(--menu-submenu-toggle-padding, var(--wp--preset--spacing--md));
	--pb--menu--submenu-toggle--icon-color: var(--menu-submenu-toggle-icon-color, var(--wp--custom--color--text--default, #000));

	/// Submenu header
	--pb--menu--submenu-header--background-color: var(--menu-submenu-header-background-color, var(--wp--custom--color--surface--invert, #000));
	--pb--menu--submenu-header--color: var(--menu-submenu-header-color, var(--wp--custom--color--text--invert, #fff));
	--pb--menu--submenu-header--padding: var(--menu-submenu-header-padding, var(--wp--preset--spacing--md) var(--wp--custom--spacing--edge));

	/// Submenu back button
	--pb--menu--submenu-back--gap: var(--menu-submenu-back-gap, var(--wp--preset--spacing--xs, 8px));
	--pb--menu--submenu-back--background-color: transparent;
	--pb--menu--submenu-back--color: #fff;
	--pb--menu--submenu-back--icon-color: var(--menu-submenu-back-icon-color, var(--wp--custom--color--text--invert, #fff));
	--pb--menu--submenu-back--icon-size: var(--menu-submenu-back-icon-size, 10px);
	// stylelint-enable custom-property-pattern
}

.wp-block-pulsar-menu:where(.is-collapsed, .collapses-always) {
	max-width: unset;

	// Menu open button
	.wp-block-pulsar-menu__open {
		align-items: center;
		background-color: var(--pb--menu--open--background-color);
		border: 0;
		box-shadow: none;
		display: inline-flex;
		height: var(--pb--menu--open--size);
		justify-content: center;
		width: var(--pb--menu--open--size);
	}

	.wp-block-pulsar-menu__open-icon {
		background-color: var(--pb--menu--open--icon-color);
		height: var(--pb--menu--open--icon-size);
		mask-image: url("../../assets/svg/menu-open.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: var(--pb--menu--open--icon-size);
		width: var(--pb--menu--open--icon-size);
	}

	:where(.has-open-menu) & .wp-block-pulsar-menu__open-icon {
		mask-image: url("../../assets/svg/menu-close.svg");
	}

	// Menu container
	.wp-block-pulsar-menu__container {
		background-color: var(--pb--menu--container--background-color);
		height: calc(100dvh - var(--pb--menu--offset));
		left: 0;
		opacity: 0;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: var(--pb--menu--offset);
		transition: all var(--pb--menu--submenu--transition-duration);
		visibility: hidden;
		z-index: var(--pb--menu--z-index);

		&:where(.is-menu-open) {
			opacity: 1;
			visibility: visible;
		}
	}

	// Menu close button
	// Typically only used for full screen modal style menus.
	.wp-block-pulsar-menu__close {
		background-color: var(--pb--menu--close--background-color);
		border: 0;
		box-shadow: none;
		display: none;
		height: var(--pb--menu--close--size);
		position: relative;
		width: var(--pb--menu--close--size);
	}

	.wp-block-pulsar-menu__close-icon {
		background-color: var(--pb--menu--close--icon-color);
		mask-image: url("../../assets/svg/menu-close.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: var(--pb--menu--close--icon-size);
	}

	// Menu items
	.wp-block-pulsar-menu__items {
		display: flex;
		flex-direction: column;
		position: relative;

		> * + * {
			border-top: 1px solid var(--pb--menu--item--divider-color);
			margin-top: var(--pb--menu--items--gap);
		}
	}

	// Menu item
	.wp-block-pulsar-menu__item {
		background-color: var(--pb--menu--item--background-color);
		color: var(--pb--menu--item--color);

		&:hover {
			background-color: var(--pb--menu--item--hover-background-color);
			color: var(--pb--menu--item--hover-color);
		}

		// Menu item which has a submenu
		&:where(.has-submenu) {
			align-items: center;
			display: flex;
			gap: var(--pb--menu--item--gap);
			justify-content: space-between;
		}

		// Menu item which has a block template part
		&:where(.has-template-part) {
			position: static;
		}
	}

	// Menu item link
	.wp-block-pulsar-menu__link {
		border-radius: var(--pb--menu--link--border-radius);
		color: var(--pb--menu--link--color);
		display: flex;
		flex-direction: column;
		padding: var(--pb--menu--link--padding);
		text-decoration: none;

		&:hover {
			background-color: var(--pb--menu--link--hover-background-color);
			color: var(--pb--menu--link--hover-color);
		}
	}

	// Hide links where there is a submenu. We want to show the toggle button instead.
	.has-submenu > .wp-block-pulsar-menu__link {
		display: none;
	}

	// Submenu toggle button
	.wp-block-pulsar-menu__submenu-toggle {
		align-items: center;
		background-color: transparent;
		border: none;
		box-shadow: none;
		color: var(--pb--menu--item--color);
		cursor: pointer;
		display: inline-flex;
		gap: var(--pb--menu--item--gap);
		justify-content: space-between;
		padding: var(--pb--menu--submenu-toggle--padding);
		text-decoration: none;
		width: 100%;
	}

	// Submenu toggle button icon
	.wp-block-pulsar-menu__submenu-toggle-icon {
		background-color: var(--pb--menu--submenu-toggle--icon-color);
		height: var(--pb--menu--submenu-toggle--icon-size);
		mask-image: url("../../assets/svg/menu-submenu-mobile.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		width: var(--pb--menu--submenu-toggle--icon-size);
	}

	// Submenu
	.wp-block-pulsar-menu__submenu {
		background-color: var(--pb--menu--submenu--background-color);
		height: 100dvh;
		inset: 0;
		overflow: hidden;
		position: absolute;
		transform: translateX(-100%);
		transition: all var(--pb--menu--submenu--transition-duration);
		visibility: hidden;
		width: 100%;
		z-index: var(--pb--menu--z-index);
	}

	// When the submenu is open, show it.
	.has-open-submenu > .wp-block-pulsar-menu__submenu {
		opacity: 1;
		overflow: visible;
		transform: translateX(0);
		visibility: visible;
	}

	// Submenu items
	.wp-block-pulsar-menu__submenu-items {
		display: flex;
		flex-direction: column;

		> * + * {
			border-top: 1px solid var(--pb--menu--item--divider-color);
			margin-top: var(--pb--menu--items--gap);
		}
	}

	.wp-block-pulsar-menu__submenu-header {
		align-items: center;
		background-color: var(--pb--menu--submenu-header--background-color);
		color: var(--pb--menu--submenu-header--color);
		display: flex;
		justify-content: center;
		line-height: 1;
		padding: var(--pb--menu--submenu-header--padding);

		+ * {
			margin-top: 0;
		}
	}

	// Submenu back button
	.wp-block-pulsar-menu__back {
		align-items: center;
		background-color: var(--pb--menu--submenu-back--background-color);
		border: none;
		box-shadow: none;
		color: var(--pb--menu--submenu-back--color);
		cursor: pointer;
		display: inline-flex;
		gap: var(--pb--menu--submenu-back--gap);
		margin-right: auto;
		text-decoration: none;
	}

	// Submenu back button icon
	.wp-block-pulsar-menu__back-icon {
		background-color: var(--pb--menu--submenu-back--icon-color);
		height: var(--pb--menu--submenu-back--icon-size);
		mask-image: url("../../assets/svg/menu-back.svg");
		mask-position: center;
		mask-repeat: no-repeat;
		mask-size: contain;
		width: var(--pb--menu--submenu-toggle--icon-size);
	}

	.wp-block-pulsar-menu__parent-label {
		font-weight: 600;
		margin-right: auto;
	}
}

.wp-block-pulsar-menu:where(.is-not-collapsed) {
	// Menu open button
	.wp-block-pulsar-menu__open {
		display: none;
	}

	// Menu close button
	.wp-block-pulsar-menu__close {
		display: none;
	}

	// Menu items
	.wp-block-pulsar-menu__items {
		display: flex;
		flex-direction: row;
		gap: var(--pb--menu--items--gap);
		position: relative;
	}

	// Menu item
	.wp-block-pulsar-menu__item {
		background-color: var(--pb--menu--item--background-color);
		color: var(--pb--menu--item--color);

		&:hover {
			background-color: var(--pb--menu--item--hover-background-color);
			color: var(--pb--menu--item--hover-color);
		}

		// Menu item which has a submenu
		&:where(.has-submenu) {
			align-items: center;
			display: flex;
			gap: var(--pb--menu--item--gap);
			justify-content: space-between;
			position: relative;
		}

		// Menu item which has a block template part
		&:where(.has-template-part) {
			position: static;
		}
	}

	// Menu item link
	.wp-block-pulsar-menu__link,
	.submenu-opens-on-click > .wp-block-pulsar-menu__submenu-toggle,
	&:where(.is-touch-enabled) .has-submenu > .wp-block-pulsar-menu__submenu-toggle {
		border-radius: var(--pb--menu--link--border-radius);
		color: var(--pb--menu--link--color);
		padding: var(--pb--menu--link--padding);
		width: 100%;

		&:hover {
			background-color: var(--pb--menu--link--hover-background-color);
			color: var(--pb--menu--link--hover-color);
		}
	}

	.wp-block-pulsar-menu__link {
		display: flex;
		flex-direction: column;
		text-decoration: none;
	}

	// If submenu items are set to open on click, hide the link.
	.submenu-opens-on-click > .wp-block-pulsar-menu__link,
	&:where(.is-touch-enabled) .has-submenu > .wp-block-pulsar-menu__link {
		display: none;
	}

	// If hovering is enabled, hide the toggle button title.
	&:where(:not(.is-touch-enabled)) .submenu-opens-on-hover .wp-block-pulsar-menu__submenu-toggle-title {
		display: none;
	}

	// Submenu toggle button
	.wp-block-pulsar-menu__submenu-toggle {
		align-items: center;
		background-color: transparent;
		border: none;
		box-shadow: none;
		color: var(--pb--menu--item--color);
		cursor: pointer;
		display: inline-flex;
		gap: var(--pb--menu--item--gap);
		justify-content: space-between;
		padding: 0;
		text-decoration: none;
	}

	// Submenu toggle button icon
	.wp-block-pulsar-menu__submenu-toggle-icon {
		background-color: var(--pb--menu--submenu-toggle--background-color);
		height: var(--pb--menu--submenu-toggle--size);
		position: relative;
		width: var(--pb--menu--submenu-toggle--size);

		&::after {
			background-color: var(--pb--menu--submenu-toggle--icon-color);
			content: "";
			inset: 0;
			mask-image: url("../../assets/svg/menu-submenu-desktop.svg");
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: var(--pb--menu--submenu-toggle--icon-size);
			position: absolute;
		}
	}

	// Submenu
	.wp-block-pulsar-menu__submenu {
		background-color: var(--pb--menu--submenu--background-color);
		border-radius: var(--pb--menu--submenu--border-radius);
		left: calc(var(--pb--menu--submenu--padding) * -1);
		min-width: var(--pb--menu--submenu--min-width, 200px);
		opacity: 0;
		padding: var(--pb--menu--submenu--padding);
		position: absolute;
		top: 100%;
		transition: all var(--pb--menu--submenu--transition-duration, var(--wp--custom--transition-duration--quick, 200ms));
		visibility: hidden;
		width: 100%;
		z-index: 10;

		&:where(.has-template-part) {
			left: 0;
			overflow: auto;
			right: 0;
			top: 100%;
			width: 100%;
		}

		// Nested submenu
		.wp-block-pulsar-menu__submenu {
			left: calc(100% + var(--pb--menu--submenu--padding));
			top: calc(0 - var(--pb--menu--submenu--padding));
		}

		.wp-block-pulsar-menu__submenu-toggle-icon {
			transform: rotate(-90deg);
		}
	}

	// When the submenu is open, show it.
	.has-open-submenu > .wp-block-pulsar-menu__submenu {
		opacity: 1;
		visibility: visible;
	}

	// Submenu items
	.wp-block-pulsar-menu__submenu-items {
		display: flex;
		flex-direction: column;
		gap: var(--pb--menu--items--gap);
	}

	// Submenu header
	.wp-block-pulsar-menu__submenu-header {
		display: none;
	}
}

// Static non-collapsing menu
.wp-block-pulsar-menu:where(.collapses-never) {
	.wp-block-pulsar-menu__items {
		display: flex;
		gap: var(--pb--menu--items--gap);
	}

	// Dont show submenus for now in nested menus
	.wp-block-pulsar-menu__submenu-items {
		display: none;
	}

	&:where(.is-vertical) {
		.wp-block-pulsar-menu__items {
			flex-direction: column;
		}
	}

	&:where(.is-horizontal) {
		.wp-block-pulsar-menu__items {
			flex-direction: row;
		}
	}
}
