.wp-block-pulsar-carousel-slide {
	background-color: var(--background-color);
	display: flex;
	flex-direction: row;
	height: 100%;
	isolation: isolate;
	overflow: clip;

	// Position: Top
	&:where(.is-position-top-left) {
		align-items: flex-start;
		justify-content: flex-start;
	}

	&:where(.is-position-top-center) {
		align-items: flex-start;
		justify-content: center;
	}

	&:where(.is-position-top-right) {
		align-items: flex-start;
		justify-content: flex-end;
	}

	// Position: Center
	&:where(.is-position-center-left) {
		align-items: center;
		justify-content: flex-start;
	}

	&:where(.is-position-center-center) {
		align-items: center;
		justify-content: center;
	}

	&:where(.is-position-center-right) {
		align-items: center;
		justify-content: flex-end;
	}

	// Position: Bottom
	&:where(.is-position-bottom-left) {
		align-items: flex-end;
		justify-content: flex-start;
	}

	&:where(.is-position-bottom-center) {
		align-items: flex-end;
		justify-content: center;
	}

	&:where(.is-position-bottom-right) {
		align-items: flex-end;
		justify-content: flex-end;
	}

	&__background-image {
		height: 100%;
		inset: 0;
		margin: 0;
		position: absolute;
		width: 100%;
		z-index: -2;

		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}

	&:where(.has-overlay) {
		&::before {
			background-color: var(--overlay-color);
			content: "";
			inset: 0;
			opacity: calc(var(--overlay-opacity) / 100);
			position: absolute;
			z-index: -1;
		}
	}
}
