.wp-block-pulsar-facetwp-filter {
	$block: &;

	--pb--facetwp-filter--title--font-weight: var(--wp--custom--typography--font-weight--heading, 700);
	--pb--facetwp-filter--title--font-size: var(--wp--preset--font-size--sm);
	--pb--facetwp-filter--title--padding: var(--wp--preset--spacing--lg);
	--pb--facetwp-filter--title--background-color: var(--wp--preset--color--base);
	--pb--facetwp-filter--title--color: var(--wp--preset--color--contrast);
	--pb--facetwp-filter--title-icon--color: var(--wp--preset--color--contrast);
	--pb--facetwp-filter--title-icon--size: 12px;

	position: relative;

	// Hide filters where all facets are empty (no child elements)
	&:has(.facetwp-facet):not(:has(.facetwp-facet:not(:empty))) {
		display: none !important; // stylelint-disable-line declaration-no-important -- Enforce hiding.
	}

	&__title {
		align-items: center;
		background-color: var(--pb--facetwp-filter--title--background-color);
		border: unset;
		cursor: pointer;
		display: flex;
		font-weight: var(--pb--facetwp-filter--title--font-weight);
		gap: var(--wp--preset--spacing--md);
		justify-content: space-between;
		padding-block: var(--pb--facetwp-filter--title--padding);
		width: 100%;

		&::after {
			background-color: var(--pb--facetwp-filter--title-icon--color);
			content: "";
			display: block;
			height: var(--pb--facetwp-filter--title-icon--size);
			mask-image: url("../../assets/svg/chevron-down.svg");
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			width: var(--pb--facetwp-filter--title-icon--size);
		}

		.is-active &::after {
			mask-image: url("../../assets/svg/chevron-up.svg");
		}
	}

	&__panel {
		background-color: var(--wp--preset--color--base);
		display: none;
		width: 100%;

		.is-active &,
		.is-selected > &,
		.has-child-selected > & {
			display: block;
			padding-bottom: var(--wp--preset--spacing--lg);
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	&:where(.is-filter-layout-stacked) {
		#{$block}__panel {
			position: static;
		}
	}

	.wp-block-pulsar-facetwp-filters__items & {
		&:where(.is-filter-layout-slide-out) {
			#{$block}__title {
				border: 1px solid var(--wp--custom--color--border);
				font-size: var(--wp--preset--font-size--sm);
				padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--xl);

				&::after {
					display: none;
				}
			}

			#{$block}__panel {
				display: none;
			}
		}

		&:where(.is-filter-layout-dropdowns) {
			#{$block}__panel {
				box-shadow: var(--wp--preset--shadow--md);
				left: 0;
				min-width: 250px;
				padding: var(--wp--preset--spacing--2-xl);
				position: absolute;
				top: 100%;
				z-index: 1000;
			}

			#{$block}__title {
				border: 1px solid var(--wp--custom--color--border);
				font-size: var(--wp--preset--font-size--sm);
				font-weight: var(--wp--custom--typography--weight--body);
				padding: var(--wp--preset--spacing--sm) var(--wp--preset--spacing--xl);
			}
		}

		&:where(.is-not-collapsable.is-filter-layout-stacked) {
			#{$block}__title {
				&::after {
					content: none;
				}
			}

			#{$block}__panel {
				display: block;
			}
		}
	}
}
