@import "@splidejs/splide/dist/css/splide-core.min";

.wp-block-pulsar-carousel {
	--accent-color: var(--wp--custom--pulsar--carousel--accent-color, #1f1f1f);
	--transition-duration: var(--wp--custom--pulsar--carousel--transition-duration, 250ms);
	--arrow-color: var(--wp--custom--pulsar--carousel--arrow-color, #fff);
	--arrow-color-active: var(--wp--custom--pulsar--carousel--arrow-color-active, var(--accent-color));
	--pagination-color: var(--wp--custom--pulsar--carousel--pagination-color, #fff);
	--pagination-color-active: var(--wp--custom--pulsar--carousel--pagination-color-active, var(--accent-color));
	--pagination-offset: var(--wp--custom--pulsar--carousel--pagination-offset, 20px);

	.splide__arrows {
		display: flex;
		justify-content: space-between;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 1;
	}

	.splide__arrow {
		background-color: unset;
		border: unset;
		box-shadow: unset;
		color: var(--arrow-color);
		cursor: pointer;
		pointer-events: all;
		transition: color var(--transition-duration) linear;

		&:hover {
			color: var(--arrow-color-active);
		}

		&:where(:disabled) {
			opacity: 0.3;
			pointer-events: none;
		}

		svg {
			fill: currentcolor;
		}

		&--prev {
			transform: rotate(180deg);
		}
	}

	.splide__pagination {
		align-items: center;
		bottom: var(--pagination-offset);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		left: 0;
		margin: 0;
		padding: 0;
		pointer-events: none;
		position: absolute;
		right: 0;

		button {
			background: var(--pagination-color);
			border: 0;
			border-radius: 50%;
			cursor: pointer;
			display: inline-block;
			height: 10px;
			margin: 3px;
			padding: 0;
			position: relative;
			transition: background-color var(--transition-duration) linear, transform var(--transition-duration) linear;
			width: 10px;

			&:where(.is-active) {
				background: var(--pagination-color-active);
				transform: scale(1.4);
				z-index: 1;
			}
		}
	}
}
