@import "@splidejs/splide/dist/css/splide-core.min";

/**
 * Opinionated block styles can go here.
 */
.wp-block-pulsar-carousel {
	.splide__arrows {
		display: flex;
		justify-content: space-between;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 1;
	}

	.splide__arrow {
		pointer-events: all;
	}

	.splide__arrow--prev {
		transform: rotate(180deg);
	}

	.splide__pagination {
		bottom: 10px;
		left: 0;
		position: absolute;
		right: 0;

		button {
			background-color: black;
			border: 0;
			border-radius: 9999px;
			box-shadow: none;
			cursor: pointer;
			height: 10px;
			margin: 0 2px;
			width: 10px;
		}
	}
}
