// @use "tools" as *;

.wp-block-pulsar-woocommerce-product-details-accordion {
	$block: &;

	--pb--wc-product-details-accordion--gap: var(--wp--custom--spacing--block-gap);
	--pb--wc-product-details-accordion--details--background-color: var(--wp--preset--color--tint);
	--pb--wc-product-details-accordion--details--color: var(--wp--preset--color--contrast);
	--pb--wc-product-details-accordion--details--border-radius: calc(var(--wp--custom--global--is-rounded) * var(--wp--custom--border--radius--md));
	--pb--wc-product-details-accordion--details--summary--font-size: var(--wp--preset--font-size--md);
	--pb--wc-product-details-accordion--details--summary--font-weight: var(--wp--custom--typography--weight--heading);
	--pb--wc-product-details-accordion--details--summary--padding: var(--wp--preset--spacing--xl) var(--wp--preset--spacing--2-xl);
	--pb--wc-product-details-accordion--icon--size: 12px;
	--pb--wc-product-details-accordion--icon--color: var(--wp--preset--color--contrast);
	--pb--wc-product-details-accordion--content--padding: 0 var(--wp--preset--spacing--2-xl) var(--wp--preset--spacing--xl);

	display: flex;
	flex-direction: column;
	gap: var(--pb--wc-product-details-accordion--gap);

	&__details {
		background-color: var(--pb--wc-product-details-accordion--details--background-color);
		border-radius: var(--pb--wc-product-details-accordion--details--border-radius);
		color: var(--pb--wc-product-details-accordion--details--color);
	}

	&__summary {
		align-items: center;
		cursor: pointer;
		display: flex;
		font-size: var(--pb--wc-product-details-accordion--details--summary--font-size);
		font-weight: var(--pb--wc-product-details-accordion--details--summary--font-weight);
		justify-content: space-between;
		padding: var(--pb--wc-product-details-accordion--details--summary--padding);

		&::marker {
			content: none;
		}

		&::after {
			background-color: var(--pb--wc-product-details-accordion--icon--color);
			content: "";
			height: var(--pb--wc-product-details-accordion--icon--size);
			mask-image: url("../../assets/svg/plus.svg");
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: var(--pb--wc-product-details-accordion--icon--size);
			width: var(--pb--wc-product-details-accordion--icon--size);
		}
	}

	&__details[open] {
		#{$block}__summary {
			&::after {
				mask-image: url("../../assets/svg/minus.svg");
			}
		}
	}

	&__content {
		max-width: 75ch;
		padding: var(--pb--wc-product-details-accordion--content--padding);

		> :first-child {
			margin-top: 0;
		}
	}

	// Product attributes table
	.woocommerce-product-attributes {
		border: 0;
		margin: 0;

		th {
			background-color: transparent !important; // stylelint-disable-line declaration-no-important
			border: 0;
			font-weight: var(--wp--custom--typography--weight--heading);
			line-height: unset;
			padding: 0;
			text-align: left;
		}

		td {
			background-color: transparent !important; // stylelint-disable-line declaration-no-important
			border: 0;
			font-style: normal;
			line-height: unset;
			padding: 0;
			text-align: left;

			p {
				padding: 0;
			}
		}

		tr:not(:last-child) th,
		tr:not(:last-child) td {
			padding-bottom: var(--wp--custom--spacing--block-gap);
		}
	}

	.woocommerce-Reviews {
		h2 {
			display: none;
		}

		.commentlist {
			padding-left: 0;

			.comment-text {
				border: 1px solid var(--wp--custom--color--border) !important; // stylelint-disable-line declaration-no-important
				border-radius: 0 !important; // stylelint-disable-line declaration-no-important
				padding: var(--wp--custom--spacing--block-gap) !important; // stylelint-disable-line declaration-no-important
			}
		}
	}
}
