.wp-block-pulsar-navigation-megamenu {
	$block: &;

	&.has-child {
		position: static;
	}

	#{$block}__container {
		background-color: inherit;
		display: block;

		@media (min-width: 1024px) {
			left: 50%;
			margin-top: calc(var(--megamenu-offset) * -1); // stylelint-disable-line custom-property-pattern -- backwards compatibility
			max-width: var(--wp--style--global--content-size);
			position: absolute;
			right: unset;
			transform: translateX(-50%);
			width: var(--wp--style--global--content-size);
		}
	}

	&:where(.is-wide-width) #{$block}__container {
		max-width: var(--wp--style--global--wide-size);
		width: var(--wp--style--global--wide-size);
	}

	&:where(.is-full-width) #{$block}__container {
		max-width: 100vw;
		width: 100vw;
	}

	#{$block}__wrap {
		margin-inline: auto;
		max-width: var(--wp--style--global--content-size);
		width: var(--wp--style--global--content-size);
	}
}
