.wp-block-pulsar-embla-carousel {
	--pb--embla-carousel--slide--gap: var(--carousel-slide-gap, 0); // stylelint-disable-line custom-property-pattern -- backwards compatibility
	--pb--embla-carousel--slide--width: var(--carousel-slide-width, 100%); // stylelint-disable-line custom-property-pattern -- backwards compatibility

	.embla {
		overflow: hidden;
		position: relative;

		.embla__viewport {
			overflow: hidden;
		}

		.embla__container {
			margin-left: calc(var(--pb--embla-carousel--slide--gap) * -1);
		}

		.embla__container:has(> *:not(.wp-block-query, .wp-block-woocommerce-product-collection)),
		.wp-block-post-template,
		.wp-block-woocommerce-product-template {
			display: flex;
			touch-action: pan-y pinch-zoom;

			> * {
				flex: 0 0 var(--pb--embla-carousel--slide--width);
				margin: 0;
				min-width: 0;
				padding-left: var(--pb--embla-carousel--slide--gap);
				transform: translate3d(0, 0, 0);
			}
		}
	}
}
