.wp-block-pulsar-facetwp-facet {
	.wp-block-pulsar-facetwp-facet__preview {
		border: 1px solid #ddd;
		color: #1e1e1e;
		padding: 12px;
		text-align: center;

		.wp-block-pulsar-facetwp-filter__panel & {
			border: unset;
			padding: unset;
			text-align: unset;
		}
	}
}
